:root {
  --yellow: #ffe600;
  --black: #010101;
  --white: #fdfdfd;
  --blue: #241f65;
  --gold: #ae8507;
  --bronze: #533e0d;
  --gray: #6575a2;
  --light-blue: #a0bded;
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

body {
  overflow-x: hidden !important;
}
/* #034efd*/
